body {
    overflow-x: hidden;
    background-color: #fffbf8;
    font-family: 'Barlow', sans-serif;
}

* {
    box-sizing: border-box;
}

.container-fluid {
    padding: 0;
    max-width: 1920px;
}

.block-1 {
    height: 600px;
    background-image: url('../images/desktop/image-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.block-1 h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    margin-top: 70px;
    font-family: 'Fraunces', serif;
    letter-spacing: 5px;
}

h3 {
    font-size: 38px;
    margin-bottom: 0.5em;
    color: hsl(212, 27%, 19%);
}

h3, h4 {
    font-family: 'Fraunces', serif;
}

p {
    color: hsl(232, 10%, 55%);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.nav-links a {
    margin: 0 16px;
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

.contact-btn {
    background-color: white;
    color: hsl(212, 27%, 19%) !important;
    padding: 10px 20px;
    border-radius: 25px;
    transition-duration: .3s
}

.contact-btn:hover {
    background-color: hsl(212, 27%, 19%);
    color: white !important;
    text-decoration: none !important;
    transition-duration: .3s
}

#start {
    background-image: url('../images/icon-arrow-down.svg');
    background-color: transparent;
    border: none;
    height: 120px;
    width: 40px;
    background-repeat: no-repeat;
    display: block;
    margin: 70px auto 1em auto;
    transition-duration: .3s
}

#start:hover {
    transform: scale(1.1);
    transition-duration: .3s
}

.img-col {
    padding: 0;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-1 {
    background-image: url('../images/desktop/image-transform.jpg');
}

.img-2 {
    background-image: url('../images/desktop/image-stand-out.jpg');
}

.text-col {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffbf8;
}

.text-col p {
    margin-bottom: 1.5em;
}

.text-col div {
    width: 70%;
}

#g-design-col {
    background-image: url('../images/desktop/image-graphic-design.jpg');
    text-align: center;
    padding: 60px 150px;
    display: flex;
    align-items: flex-end;
}

#photography-col {
    background-image: url('../images/desktop/image-photography.jpg');
    text-align: center;
    padding: 60px 150px;
    display: flex;
    align-items: flex-end;
}

#g-design-col p,
#g-design-col h4 {
    color: hsl(167, 40%, 24%);
}
#photography-col h4,
#photography-col p {
    color: hsl(198, 62%, 26%);
}

.testimonial-row h3 {
    margin: 3em auto 1em auto;
    text-align: center;
    text-transform: uppercase;
}

.testimonial {
    text-align: center;
    padding: 1em;
    margin-bottom: 60px;
}

.testimonial .testify {
    color: hsl(213, 9%, 39%);
}

.avatar {
    border-radius: 100%;
    height: 70px;
    display: block;
    margin: 2em auto;
}

.name {
    font-weight: 900;
    margin-bottom: 0;
    color: hsl(212, 27%, 19%) !important;
    font-family: 'Fraunces', serif;
    font-size: 18px;
}

.position {
    color:  hsl(210, 4%, 67%);
    font-size: 14px;
}

.gallery-row div {
    height: 400px;
}

.gallery-row img {
    height: 400px;
}

footer {
    background-color: #90d4c5;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    color: hsl(168, 34%, 41%);
    text-decoration: none;
    font-weight: 600;
    margin: 10px 30px;
    transition-duration: .3s;
}

.footer-links a:hover {
    color: white;
    transition-duration: .3s;
}

.footer-logo {
    margin-bottom: 2em;
}

.learn-more {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    font-size: 18px;
    text-transform: uppercase;
}

.learn-more:hover {
    color: hsl(210, 4%, 67%);
}

.testimonial-row h3 {
    color: hsl(210, 4%, 67%);
    font-size: 22px;
    letter-spacing: 3px;
}

.social-links {
    margin-top: 60px;
}

.social-links a {
    text-decoration: none;
    margin: 0 20px 0 20px;
    transition-duration: .3s;
}

.social-links a:hover {
    transition-duration: .3s;
    color: white;
}

#navbarSupportedContent .content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin: 1em 0;
}

#navbarSupportedContent a {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #8b8a8f;
    font-weight: 700;
    text-decoration: none;
}

.gallery-row img {
    width: 100%;
}

.gallery-row div {
    margin: 0;
    padding: 0;
}

.navbar-toggler {
    display: none;
}

@media (max-width: 900px) {
    #g-design-col,
    #photography-col {
        padding: 30px 30px;
    }
}

@media (max-width: 700px) {
    .block-1 {
        background-image: url('../images/mobile/image-header.jpg');
    }
    .nav-links {
        display: none;
    }

    .text-col {
        text-align: center;
        padding: 2em 0;
    }
    .img-col {
        height: 300px;
    }
    #g-design-col,
    #photography-col {
        height: 500px;
        padding: 30px 30px;
    }
    #g-design-col h4,
    #photography-col h4 {
        margin-bottom: 30px;
        font-weight: 900;
    }
    .testimonial {
        margin-bottom: 0px;
        padding-bottom: 0;
    }
    .testimonial-row {
        padding-bottom: 50px;
    }
    .gallery-row img {
        width: 100%;
        height: auto;
        max-height: 200px;
    }
    .gallery-row div {
        height: 200px;
        width: 50%;
        padding: 0;
    }

    footer {
        padding-top: 80px;
        padding-bottom: 30px;
    }
}

@media (max-width: 600px) {
    .navbar-toggler {
        display: block;
    }
}